/.vscode

*.rst
*.yml
*.html
*.bat
*.log
*.pyc
*.pyc
*.webm
*.mp3
*.png
*.txt

prefixes.json
/config.py
/cogs/configs/config.py

/docs
/cogs/overwatch.py
/cogs/profile_edit.py
/cogs/reactions.py
/cogs/music.py
/cogs/stats.py
/cogs/polls.py
/cogs/kawaii.py
/cogs/data
/cogs/musicutils
/cogs/utils
/cogs/*.py
